/*ul li a{
	display:block;
}
$color:#ddd;
ul{
	li{
		a{
			display:none;
			color:$color;
			&:hover{
			background:$color;
			}
		}
	}
}

a{
	color:$color;
}
body{
	font-family:"微软雅黑";
}*/

@import "mixin";
@import "toolbar";
